body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff8f0;
    color: #3b2418;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}


.logo {
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bold;
}


.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #3b2418;
}


header {
    text-align: center;
    padding: 80px 20px;
}


header h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    color: #7a3e12;
}


header p {
    font-size: 20px;
}


section {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}


h2 {
    font-family: Georgia, serif;
    color: #7a3e12;
    font-size: 35px;
}


footer {
    text-align: center;
    padding: 40px;
    background: #3b2418;
    color: white;
}
